<div class="col-xs-12 comment-indent">
  <p>{{this.content}}</p>
  {{#each this.comments}}
    {{> comment}}
  {{/each }}
</div>

{{this}}
"BReak point"
{{@root.post.id}}
<a href="/posts/{{this.id}}/comments/{{this.comments._id}}/replies/new">Reply</a>
{{this._id}}
{{this.comments._id}}
